
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blue Booking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" >
    <span class="navbar-text" style="margin-left: auto;">
     <b> Nome do usuario logado </b>  <a href="" class="navbar-text">Log Out</a>
    </span>
  </div>
</nav>
