.bg-light {
  background-color: #f5f5f5 !important;
}

.card {
  border-radius: 15px;
  background-color: #fafafa; /* Light pastel background */
}

.card-title {
  color: #6c757d; /* Pastel gray */
}

.btn-primary {
  background-color: #5f9ea0; /* Light pastel teal */
  border-color: #5f9ea0;
}

.btn-primary:hover {
  background-color: #4f8b90;
  border-color: #4f8b90;
}
